---
author:
  display_name: Nathan
  email: ndemick@gmail.com
---
{% include header.html %}

<div id="posts">

  {% for post in paginator.posts %}
  <div class="post">
    <div class="post-date">
      <p>
        {{ post.date | date: '%b' }}
        <strong>{{ post.date | date: '%d' }}</strong>
        {{ post.date | date: '%Y' }}
      </p>
    </div>

    {{ post | custom_header }}

    {{ post.content }}

    <p class="meta">
      <img src="{{ site.url }}/assets/images/comments.png" alt="Comments"> <a href="{{ post.url }}#comments">Comments</a> &middot;
      <img src="{{ site.url }}/assets/images/written.png" alt="Posted by"> Posted by {{ post.author.display_name }} at {{ post.date | date: '%H:%m' }} &middot;
      <img src="{{ site.url }}/assets/images/tags.png" alt="Tags"> {% for tag in post.tags %} {{ tag }} {% endfor %}
    </p>
  </div>  <!-- /post -->

  <hr>
  {% endfor %}

  {% include pagination.html %}

</div>  <!-- /posts -->

{% include footer.html %}
