---
author:
  display_name: Nathan
  email: ndemick@gmail.com
---
{% include header.html %}

{% for post in paginator.posts %}
<article>
  <h2>
    <a href="{{ post.url }}" title="{{ post.title }}" aria-label="{{ post.title }}" rel="bookmark">
      {{ post.title }}
    </a>
  </h2>

  {{ post.content }}

  <p class="meta">
    <time title="Posted at {{ post.date }}">{{ post.date | epoch_timestamp }}</time>
    &middot;
    <a class="comments"
       data-comment-count="{{ post.comments.size }}"
       href="{{ post.url }}#comments">{{ post.comments.size }} comments</a>
  </p>
</article>  <!-- /post -->

{% endfor %}

{% include pagination.html %}

<!-- comment count -->
<script src="{{ site.url }}/assets/javascript/comments.js"></script>
<script>
  new CommentHelper().getCount();
</script>

{% include footer.html %}
