<!DOCTYPE html>
<html>
<head>
	<!-- Meta -->
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="author" content="Nathan Demick">

	<title>{% if page.title %}{{ page.title }} |{% endif %}nathandemick.com</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.url }}/assets/stylesheets/main.css" type="text/css" media="screen" title="Default" charset="utf-8">
	<link rel="stylesheet" href="{{ site.url }}/assets/stylesheets/syntax.css" type="text/css" media="screen" title="Syntax Highlighting" charset="utf-8">

	<link rel="shortcut icon" href="{{ site.url }}/assets/images/mirage-tower-robot-front.gif" type="image/gif">
</head>
<body>
	<div id="container">
		<div id="header">

			<h1>nathandemick.com</h1>

			<a href="http://nathandemick.com" title="Return to nathandemick.com">
				<img src="{{ site.url }}/assets/images/blank.png" style="width: 325px; height: 100px; float: left;">
			</a>

			<!-- <form action="" method="post">
				<label for="search">Search</label>
				<input type="text" id="search" name="s" value="Search">
			</form> -->
		</div>	<!-- /header -->
