<!DOCTYPE html>
<html>
<head>
  <!-- Meta -->
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Nathan Demick">

  <title>{% if page.title %}{{ page.title }} | {% endif %}nathandemick.com</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.url }}/assets/stylesheets/test.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/stylesheets/prism.css">

  <link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.png" type="image/png">
</head>
<body>
  <div id="container">
    <header>
      <h1>
        <span class="ಠ_ಠ" aria-hidden="true">ಠ_ಠ</span>

        <a href="{{ site.url }}/" aria-label="Return to homepage" title="Return to homepage">
          nathandemick.com
        </a>
      </h1>
    </header>
