<div id="sidebar">
	<div class="widget nonogram-madness">
		<h3>Nonogram Madness!</h3>

		<p>Get addicted to a new type of puzzle &mdash; nonograms &mdash; in Nonogram Madness!</p>

		<div class="mobile">
			<a href="https://ganbarugames.com/nonogram/" title="Play Nonogram Madness in your browser!">
				<img src="/assets/images/nonogram-madness.png" alt="Nonogram Madness">
			</a>
			<div class="home-button"></div>
		</div>

		<a href="https://itunes.com/ganbarugames" title="Available on the App Store" class="app-store">
			<img src="/assets/images/app-store.png" alt="Available on the App Store">
		</a>
	</div>	<!-- /.nonogram-madness -->

	<div class="widget shikaku-madness">
		<h3>Shikaku Madness!</h3>

		<p>Another Japanese puzzle game &mdash; cover the puzzle grid with rectangles,
			using the provided clues as guidance!</p>

		<div class="mobile">
			<a href="https://ganbarugames.com/shikaku/" title="Play Shikaku Madness in your browser!">
				<img src="/assets/images/shikaku-madness.png" alt="Shikaku Madness">
			</a>
			<div class="home-button"></div>
		</div>

		<a href="https://itunes.com/ganbarugames" title="Available on the App Store" class="app-store">
			<img src="/assets/images/app-store.png" alt="Available on the App Store">
		</a>
	</div>	<!-- /.shikaku-madness -->

	<div class="widget build-bridges">
		<h3>Let's Build Bridges!</h3>

		<p>Connect all the islands together, using the number of bridges shown
			on each one. It's harder than it looks!</p>

		<div class="mobile">
			<a href="https://ganbarugames.com/bridges/" title="Play Let's Build Bridges in your browser!">
				<img src="/assets/images/lets-build-bridges.png" alt="Let's Build Bridges">
			</a>
			<div class="home-button"></div>
		</div>

		<a href="https://itunes.com/ganbarugames" title="Available on the App Store" class="app-store">
			<img src="/assets/images/app-store.png" alt="Available on the App Store">
		</a>
	</div>	<!-- /.build-bridges -->

	<div class="widget play-asia">
		<h3>Consume!</h3>

		<p style="text-align: center;">
			<a href="http://www.play-asia.com/SOap-23-83-372u-49-en.html" title="Play-Asia.com - Buy Video Games for Consoles and PC - From Japan, Korea and other Regions">
        <img src="/assets/images/play-asia-saturn.gif" border=0 alt="Play-Asia.com - Buy Video Games for Consoles and PC - From Japan, Korea and other Regions" style="margin: 0px auto; border: 5px solid #ccc;">
	      </a></p>

		<p>If you're in the market for imported or pre-owned
			(or pre-owned imported) games, check out <a href="http://www.play-asia.com/SOap-23-83-372u-49-en.html" title="Play Asia">Play Asia</a>.
			I've gotten a lot of good junk from 'em. If you buy something
			using the link above, I get whole pennies of referral credit!</p>
	</div>	<!-- /.play-asia -->

</div>	<!-- /sidebar -->
