<div id="sidebar">
	<div class="widget nonogram-madness">
		<h3>Nonogram Madness!</h3>

		<p>Get addicted to a new type of puzzle &mdash; nonograms &mdash; in Nonogram Madness!</p>

		<p><a href="https://itunes.com/ganbarugames" title="Nonogram Madness is available on the App Store">
			<img src="/assets/images/nonogram-madness.png" alt="Nonogram Madness" style="margin-left: 35px;"><br>
			<img src="/assets/images/app-store.png" alt="Available on the App Store" style="margin-left: 40px;">
    </a></p>
	</div>	<!-- /.nonogram-madness -->

	<div class="widget revolve-ball">
		<h3>Revolve Ball!</h3>

		<p>Got an iPhone, iPod Touch or iPad? Check out my newest game!</p>

    <p><a href="https://itunes.com/ganbarugames" title="Revolve Ball is available on the App Store">
      <img src="/assets/images/revolve-ball.gif" alt="Revolve Ball" style="margin-left: 45px;"> </a> <br>
      <img src="/assets/images/app-store.png" alt="Available on the App Store" style="margin-left: 50px;">
    </a></p>
	</div>	<!-- /.revolve-ball -->

	<div class="widget play-asia">
		<h3>Consume!</h3>

		<p style="text-align: center;">
			<a href="http://www.play-asia.com/SOap-23-83-372u-49-en.html" title="Play-Asia.com - Buy Video Games for Consoles and PC - From Japan, Korea and other Regions">
        <img src="/assets/images/play-asia-saturn.gif" border=0 alt="Play-Asia.com - Buy Video Games for Consoles and PC - From Japan, Korea and other Regions" style="margin: 0px auto; border: 5px solid #ccc;">
      </a>
    </p>

		<p>If you're in the market for imported or pre-owned
			(or pre-owned imported) games, check out <a href="http://www.play-asia.com/SOap-23-83-372u-49-en.html" title="Play Asia">Play Asia</a>.
			I've gotten a lot of good junk from 'em. If you buy something
			using the link above, I get whole pennies of referral credit!</p>
	</div>	<!-- /.play-asia -->

	<div class="widget firefox">
		<h3>Firefox!</h3>

		<p style="text-align: center; margin-top: 5px;"><a href="//affiliates.mozilla.org/link/banner/34940">
      <img src="//affiliates.mozilla.org/media/uploads/banners/7069229f5337664c0e435c1eef92b66ead204509.png" alt="Android">
    </a></p>
	</div>	<!-- /.firefox -->
</div>	<!-- /sidebar -->
