{% include header.html %}

<div id="posts">
	<div class="post">
		<div class="post-date">
		  <p>
		    {{ page.date | date: '%b' }}
		    <strong>{{ page.date | date: '%d' }}</strong>
		    {{ page.date | date: '%Y' }}
		  </p>
		</div>

		{{ page | custom_header }}

		{{ content }}

		<p class="meta">
      <img src="{{ site.url }}/assets/images/comments.png" alt="Comments"> <a href="{{ page.url }}#disqus_thread"></a> &middot;
		  <img src="{{ site.url }}/assets/images/written.png" alt="Posted by"> Posted by {{ page.author.display_name }} at {{ page.date | date: '%H:%m' }} &middot;
		  <img src="{{ site.url }}/assets/images/tags.png" alt="Tags"> {% for tag in page.tags %} {{ tag }} {% endfor %}
		</p>
	</div>	<!-- /post -->

  <hr>

  <div id="comments">
    <h3>Comments</h3>
    {% if page.comments.size > 0 %}
      {% for comment in page.comments %}
      <div class="comment">
        <p>{{ comment | comment_author }} wrote on {{ comment.date | date: '%B %d, %Y' }}:</p>
        <p>{{ comment.content }}</p>
      </div>
      {% endfor %}
    {% else %}
      {% include disqus.html %}
    {% endif %}
  </div>
</div>

{% include footer.html %}
